<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="nav-item" routerLink="/home" routerLinkActive="active" href="#">
        <mat-icon aria-label="Home">home</mat-icon>
        Home
      </a>
      <a mat-list-item class="nav-item" routerLink="/timer" routerLinkActive="active" href="#">
        <mat-icon aria-label="Timer">watch</mat-icon>
        Timer
      </a>
      <a mat-list-item class="nav-item" routerLink="/tasks" routerLinkActive="active" href="#">
        <mat-icon aria-label="Tasks">ballot</mat-icon>
        Tasks
      </a>
      <a mat-list-item class="nav-item" routerLink="/settings" routerLinkActive="active" href="#">
        <mat-icon aria-label="Settings">settings</mat-icon>
        Settings
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="navbar-logo" (click)="drawer.toggle()">
        <mat-icon aria-label="Pomodor logo" svgIcon="pomodor"></mat-icon>
        Pomodor
      </span>
      <div class="right-menu-group">
        <div class="signed-in-menu-items" *ngIf="authService.user$ | async as user; else login">
          <span class="user-display-name">{{user.displayName}}</span>
          <button type="button" aria-label="logout" mat-raised-button (click)="logout()">
            Logout
          </button>
        </div>
        <ng-template #login class="signed-out-menu-items">
          <button type="button" aria-label="login" mat-raised-button (click)="authService.login()">
            Login
          </button>
        </ng-template>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
