@import "../../styles.scss";

.sidenav-container {
  height: 100%;

  .sidenav {
    width: 200px;

    .nav-item {
      mat-icon {
        margin-right: 0.5rem;
      }

      .menu-timer {
        font-size: 1rem;
        margin-left: auto;
      }

      &.active {
        background-color: #3F51B5;
        color: #fff;
      }
    }
  }

  .sidenav .mat-toolbar {
    background: inherit;
  }

  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    
    .navbar-logo {
      margin-left: 1rem;
      margin-right: 1rem;
      cursor: pointer;

      mat-icon {
        position: relative;
        top: 0.25rem;
      }
    }

    .right-menu-group {
      margin-left: auto;

      .signed-in-menu-items {
        margin-top: 0.45rem;
        display: flex;

        .user-display-name {
          margin: 1rem 1rem 1.2rem 0;
          font-size: 1.1rem;
        }

        .logout-btn {
          margin-top: 0.7rem;
          max-height: 2.3rem;
        }
      }
    }
  }

  .content-wrapper {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: $smBreakpoint) {
  .signed-in-menu-items {

    .login-btn,
    .logout-btn {
      font-size: 0.8rem;
    }
  }
}
