@import "../../../../styles.scss";

.task-list-container {
  padding: 0 1rem;

  .task-list {
    text-align: left;
    margin: 1rem auto;
    padding: 1rem;

    &.cdk-drop-list-dragging {
      .task-item:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }
    }

    .task-item {
      display: flex;
      cursor: pointer;
      padding: 0.5rem;
      border-bottom: 1px solid #eef;

      .task-item-inner-container {
        display: inline-block;
        width: 100%;

        mat-checkbox.completed {
          text-decoration: line-through;
          text-decoration-color: $primary;
        }

        ::ng-deep .mat-checkbox-inner-container {
          margin-top: 0.2rem;
        }

        ::ng-deep .mat-checkbox-label {
          white-space: pre-wrap;
          word-wrap: break-word;
        }

        &:last-child {
          border: none;
        }
      }

      .drag-indicator-icon {
        margin-left: auto;
        color: #999;
      }
    }
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .form-field-full-width {
    width: 100%;
  }

  .task-button-group {
    text-align: center;
    margin-bottom: 2rem;
  }

}

::ng-deep .cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  display: inline-block;
  padding: 0.5rem;

  * {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

@media (min-width: $smBreakpoint) {
  .task-list-container {
    padding: 0 4rem;
  }
}
