.completed-tasks {
  max-width: 40rem;
  margin: 2rem auto auto auto;
  text-align: left;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #fff;
  color: #999;

  .completed-task {
    display: flex;
    margin: 0.7rem;
    border-bottom: 1px solid #efefef;

    .completed-task-description {
      display: inline-block;
      width: 80%;
    }

    .task-date-completed {
      margin-left: auto;
      display: inline-block;
      font-size: 0.7rem;
      width: 18%;
    }
  }
}
