@import "../../../app.component.scss";

.timer-page-container {
  width: 100%;
  height: 75vh;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $lightPrimary;
  @include transition(1s);

  .timer-container {
    max-width: 50rem;
    margin: auto;
    border: 1px solid #cdd;
    @include transition(1s);
  }
}

.container-timer-on {
  background-color: #222222;
  color: #FFF;

  .timer-container {
    border: 1px solid transparent;
  }
}

.container-on-break {
  background-color: $lightOnBreak;
  color: #222;

  .timer-container {
    border: 1px solid transparent;
  }
}
