/*** Variables ***/

$softBlue: #00a9ff;
$pomColor: #ff6868;
$mellow: #ff7f1c;
$darkerBackground: #333;
$primary: #3E51B5;

$lightGrey: #aaa;
$grey: #777;
$white: #fff;
$black: #000;
$almostBlack: #222;
$darkishPurple: #6748d8;

/*** Mixins ***/

@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

@mixin box-shadow($px, $px2, $color) {
  box-shadow: $px $px $px2 $color;
  -moz-box-shadow: $px $px $px2 $color;
  -webkit-box-shadow: $px $px $px2 $color;
  -o-box-shadow: $px $px $px2 $color;
}

@mixin text-shadow($px, $px2, $color) {
  text-shadow: $px $px $px2 $color;
  -moz-text-shadow: $px $px $px2 $color;
  -webkit-text-shadow: $px $px $px2 $color;
  -o-text-shadow: $px $px $px2 $color;
}
