<div class="tasks-page-container">
  <h2 class="header-text">
    Tasks
    <pm-timer-countdown></pm-timer-countdown>
  </h2>
  <section class="tasks-container">
    <ngx-spinner
      bdColor="rgba(62, 81, 181, 0.2)"
      size="medium"
      color="#3E51B5"
      type="square-loader"
      fullScreen="false">
      <p style="font-size: 20px; color: #3E51B5">Loading...</p>
    </ngx-spinner>
    <pm-task-list [tasksList]="tasksList"
                  [currentUser]="currentUser"
                  [deviceIsMobile]="isHandset$ | async"
                  (taskCompletionChanged)="toggleTaskComplete($event)"
                  (dragEnded)="onDragEnded()"
                  (taskUpdated)="onTaskUpdated($event)"
                  (taskDeleted)="onTaskDeleted($event)">
    </pm-task-list>
    <pm-new-task (taskAdded)="onNewTaskAdded($event)"></pm-new-task>
  </section>
  <h4 class="header-text">Completed Tasks</h4>
  <hr class="completed-tasks-hr">
  <pm-completed-task-list [completedTasksList]="completedTasksList"></pm-completed-task-list>
</div>
