<div class="tasks-page-container">
  <h2 class="header-text">
    Tasks
    <pm-timer-countdown></pm-timer-countdown>
  </h2>
  <section class="tasks-container">
    <pm-task-list [tasksList]="taskList"
                  [currentUser]="currentUser"
                  (taskAdded)="onNewTaskAdded($event)">
    </pm-task-list>
  </section>
  <h4 class="header-text">Completed Tasks</h4>
  <hr class="completed-tasks-hr">
    <section class="completed-tasks" *ngIf="completedTaskList?.length">
      <div class="completed-task" *ngFor="let task of completedTaskList">
        <span class="completed-task-description">{{task.description}}</span>
        <span class="task-date-completed">{{task.dateCompleted | date:'short'}}</span>
      </div>
    </section>
</div>
