<div class="tasks-page-container">
  <h2 class="header-text">
    Tasks
    <pm-timer-countdown></pm-timer-countdown>
  </h2>
  <section class="tasks-container">
    <ngx-spinner
      bdColor="rgba(62, 81, 181, 0.2)"
      size="medium"
      color="#3E51B5"
      type="square-loader"
      fullScreen="false">
      <p style="font-size: 20px; color: #3E51B5">Loading...</p>
    </ngx-spinner>
    <pm-task-list [tasksList]="taskList"
                  [currentUser]="currentUser"
                  (taskAdded)="onNewTaskAdded($event)">
    </pm-task-list>
  </section>
  <h4 class="header-text">Completed Tasks</h4>
  <hr class="completed-tasks-hr">
    <section class="completed-tasks" *ngIf="completedTaskList?.length">
      <div class="completed-task" *ngFor="let task of completedTaskList">
        <span class="completed-task-description">{{task.description}}</span>
        <span class="task-date-completed">{{task.dateCompleted | date:'short'}}</span>
      </div>
    </section>
</div>
