<div class="tasks-page-container">
  <h2 class="header-text">
    Tasks
    <pm-timer-countdown
      *ngIf="timerService.timerOn$ | async; else timerButton"
      (click)="navigateToTimer()">
    </pm-timer-countdown>
  </h2>
  <ng-template #timerButton>
    <div class="timer-nav-button">
      <pm-fab (clicked)="navigateToTimer()" color="secondary">
        <mat-icon aria-label="Timer">watch</mat-icon>
      </pm-fab>
    </div>
  </ng-template>
  <section class="tasks-container">
    <ngx-spinner
      bdColor="rgba(62, 81, 181, 0.2)"
      size="medium"
      color="#3E51B5"
      type="square-loader"
      fullScreen="false">
      <p style="font-size: 20px; color: #3E51B5">Loading...</p>
    </ngx-spinner>
    <div class="task-list-container">
      <pm-task-list-header
        *ngIf="activeTasksListRef"
        [taskList]="activeTasksListRef"
        [allTasksInListAreComplete]="allTasksComplete(activeTasksListRef.tasks)"
        [manageListActions]="false"
        (taskListDeleted)="deleteEmptyTaskList(activeTasksListRef)"
        (taskListUpdated)="onTaskListUpdated($event)"
        (taskListActivated)="onActivateTaskList($event)">
      </pm-task-list-header>
      <pm-task-list
        *ngIf="activeTasksListRef"
        [tasksList]="activeTasksListRef?.tasks"
        [currentUser]="currentUser"
        [deviceIsMobile]="isHandset$ | async"
        (taskCompletionChanged)="toggleTaskComplete(activeTasksListRef, $event)"
        (dragEnded)="onDragEnded(activeTasksListRef)"
        (taskUpdated)="onTaskUpdated(activeTasksListRef, $event)"
        (taskDeleted)="onTaskDeleted(activeTasksListRef, $event)">
      </pm-task-list>
    </div>
    <pm-new-task (taskAdded)="onNewTaskAdded(activeTasksListRef, $event)"></pm-new-task>
  </section>
  <h4 class="header-text">
    Task Lists
    <mat-icon class="show-add-task-list-toggle" *ngIf="showNewTaskListInput === false" (click)="showNewTaskListInput = true">add_circle_outline</mat-icon>
    <mat-icon class="show-add-task-list-toggle" *ngIf="showNewTaskListInput === true" (click)="showNewTaskListInput = false">remove_circle_outline</mat-icon>
  </h4>

  <form #newTaskListForm class="new-task-list-form" *ngIf="showNewTaskListInput">
    <mat-form-field class="form-field-full-width">
      <input matInput placeholder="Enter Task List Name" [formControl]="newTaskListName" autocomplete="off">
    </mat-form-field>
    <div class="task-button-group">
      <button type="submit"
              class="add-task"
              aria-label="add task"
              mat-raised-button
              color="primary"
              (click)="createNewTaskList(newTaskListName.value)"
              [disabled]="!newTaskListName.value">
        Add Task List
      </button>
    </div>
  </form>

  <hr class="completed-tasks-hr">
  <section class="inactive-task-list">
    <div class="task-list" *ngFor="let taskListRef of userTaskLists | activeTaskList">
      <pm-task-list-header
        [taskList]="taskListRef"
        [allTasksInListAreComplete]="allTasksComplete(taskListRef.tasks)"
        [manageListActions]="true"
        (taskListDeleted)="deleteEmptyTaskList(taskListRef)"
        (taskListUpdated)="onTaskListUpdated($event)"
        (taskListActivated)="onActivateTaskList($event)">
      </pm-task-list-header>
      <pm-task-list
        *ngIf="taskListRef.tasks && taskListRef.open"
        [tasksList]="taskListRef?.tasks"
        [currentUser]="currentUser"
        [deviceIsMobile]="isHandset$ | async"
        (taskCompletionChanged)="toggleTaskComplete(taskListRef, $event)"
        (dragEnded)="onDragEnded(taskListRef)"
        (taskUpdated)="onTaskUpdated(taskListRef, $event)"
        (taskDeleted)="onTaskDeleted(taskListRef, $event)">
      </pm-task-list>
      <pm-new-task *ngIf="taskListRef.open" (taskAdded)="onNewTaskAdded(taskListRef, $event)"></pm-new-task>
    </div>
  </section>
  <h4 class="header-text">Completed Tasks</h4>
  <hr class="completed-tasks-hr">
  <pm-completed-task-list [completedTasksList]="completedTasksList"></pm-completed-task-list>
</div>
