@import '~ngx-toastr/toastr.css';

/*** Variables ***/

$softBlue: #00a9ff;
$pomColor: #ff6868;
$mellow: #ffc270;
$break: #FF7F1C;
$green: #009900;
$darkerBackground: #333;
$primary: #3E51B5;
$primaryLighter: #7881b5;
$lightOnBreak: #fffaef;
$lightPrimary: #dfefff;

$lightGrey: #aaa;
$grey: #777;
$white: #fff;
$black: #000;
$almostBlack: #222;
$darkishPurple: #6748d8;

/*** Media Query Breakpoints ***/
$smBreakpoint: 767px;
$xsBreakpoint: 467px;

/*** Mixins ***/

@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

@mixin box-shadow($px, $px2, $color) {
  box-shadow: $px $px $px2 $color;
  -moz-box-shadow: $px $px $px2 $color;
  -webkit-box-shadow: $px $px $px2 $color;
  -o-box-shadow: $px $px $px2 $color;
}

@mixin text-shadow($px, $px2, $color) {
  text-shadow: $px $px $px2 $color;
  -moz-text-shadow: $px $px $px2 $color;
  -webkit-text-shadow: $px $px $px2 $color;
  -o-text-shadow: $px $px $px2 $color;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin transform($transformExpression) {
  -webkit-transform: $transformExpression;
  -moz-transform: $transformExpression;
  -ms-transform: $transformExpression;
  -o-transform: $transformExpression;
  transform: $transformExpression;
}

/*** Main Styles ***/

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  a {
    text-decoration: none;
    color: $break;

    &:hover {
      color: #be470c;
    }
  }

  .btn-large {
    font-size: 1.2rem;
  }
}

///*** Toastr Styles ***/

.toast-container {
  margin-top: 3.5rem;

  .toast-success {
    background-color: #12a37a;
  }
  .toast-error {
    background-color: #BD362F;
  }
  .toast-info {
    background-color: #2F96B4;
  }
  .toast-warning {
    background-color: #F89406;
  }
}
