<mat-form-field>
  <input matInput
         type="number"
         placeholder="Timer length in minutes"
         name="timerLength"
         [formControl]="currentSettings.timerLength">
</mat-form-field>
<div>
  <mat-form-field>
    <input matInput
           type="number"
           placeholder="Recharge length in minutes"
           name="breakLength"
           [formControl]="currentSettings.breakLength">
  </mat-form-field>
</div>
<div class="checkbox-field">
  <mat-checkbox name="useTimerBumpers" [formControl]="currentSettings.useTimerBumpers">Use Timer Bumpers?</mat-checkbox>
</div>
<mat-form-field class="shorter-number-field" *ngIf="shouldShowBumperLengthField">
  <input
    matInput
    type="number"
    class="shorter-number-field"
    placeholder="Timer bumper length in minutes"
    name="bumperLengthInMinutes"
    [formControl]="currentSettings.bumperLengthInMinutes">
</mat-form-field>
<div class="checkbox-field">
  <mat-checkbox name="tasksLinkedToTimer" [formControl]="currentSettings.tasksLinkedToTimer">Link highest priority Task to Timer?</mat-checkbox>
</div>
<mat-form-field class="shorter-number-field">
  <input matInput
         type="number"
         class="shorter-number-field"
         placeholder="Number of minutes before Completed Tasks show up on Completed Task List"
         name="moveCompletedTaskToCompletedListTimeInMin"
         [formControl]="currentSettings.moveCompletedTaskToCompletedListTimeInMin">
</mat-form-field>
<mat-form-field class="shorter-number-field">
  <input matInput
         type="number"
         class="shorter-number-field"
         placeholder="Number of days before Completed Tasks expire and get deleted"
         name="completedTaskExpirationInDays"
         [formControl]="currentSettings.completedTaskExpirationInDays">
</mat-form-field>
