@import "../../../../styles";

form {

  mat-form-field,
  pm-input-field,
  pm-checkbox-field {
    display: block;
    width: 70%;
    margin: auto;
    text-align: left;
    color: $primary;
  }

  mat-form-field,
  pm-input-field {
    font-size: 1.25rem;
  }

  pm-checkbox-field {
    font-size: 1rem;
    margin: 1.4rem auto;
  }

  .shorter-number-field {
    width: 10rem;
  }

  input {
    text-align: center;
  }

}
