<form (ngSubmit)="onSubmit()">
  <pm-input-field
    [group]="settingsForm"
    inputType="number"
    controlName="timerLength">
    <span class="field-label">Timer length in minutes</span>
  </pm-input-field>
  <pm-input-field
    [group]="settingsForm"
    inputType="number"
    controlName="breakLength">
    <span class="field-label">Recharge length in minutes</span>
  </pm-input-field>
  <pm-checkbox-field
    [group]="settingsForm"
    controlName="useTimerBumpers">
    <span class="field-label">Use Timer Bumpers?</span>
  </pm-checkbox-field>
  <ng-container *ngIf="settingsForm.controls.useTimerBumpers.value">
    <pm-input-field
      [group]="settingsForm"
      inputType="number"
      controlName="bumperLengthInMinutes">
      <span class="field-label">Timer bumper length in minutes</span>
    </pm-input-field>
  </ng-container>
  <pm-checkbox-field
    [group]="settingsForm"
    controlName="tasksLinkedToTimer">
    <span class="field-label">Link highest priority Task to Timer?</span>
  </pm-checkbox-field>
  <pm-checkbox-field
    [group]="settingsForm"
    controlName="autoBreak">
    <span class="field-label">Automatically start a break after timer is over?</span>
  </pm-checkbox-field>
  <pm-input-field
    [group]="settingsForm"
    inputType="number"
    controlName="moveCompletedTaskToCompletedListTimeInMin">
    <span class="field-label">Number of minutes before Completed Tasks show up on Completed Task List</span>
  </pm-input-field>
  <pm-input-field
    [group]="settingsForm"
    inputType="number"
    controlName="completedTaskExpirationInDays">
    <span class="field-label">Number of days before Completed Tasks expire and get deleted</span>
  </pm-input-field>

  <ng-content></ng-content>
</form>
