<div class="home-page">
  <h1 class="welcome-header">
    {{homeHeader}}
  </h1>
  <section class="home-page-content">
    <div class="app-description-container">
      <p class="app-description">Pomodor is a simple, time management application that helps you work efficiently and track your work.</p>
      <p class="app-description">It uses the Pomodoro time management technique that encourages incremental bursts of high focus productivity followed by short breaks.</p>
      <p class="app-description">You can change the timer controls in the <a href="" routerLink="/settings">Settings</a>.</p>
    </div>
    <div class="home-page-button-group">
      <button class="btn-large start-timer-homepage-button" routerLink="/timer" type="button" mat-raised-button aria-label="Start a timer" color="secondary">Start a Timer</button>
    </div>
  </section>

</div>
