@import "../../../../styles.scss";

body {
  color: #777;
  background-color: #fff;
  @include transition(1s);
}

.timer-container {
  padding: 1rem;
  width: auto;
  margin: auto;
  background-color: #FAFAFA;
  @include transition(1s);
  @include box-shadow(0px, 0px, #222);
  @include transition(1s);

  .timer-countdown {
    font-size: 2rem;
    color: #222;
    @include transition(1s);
  }

  .timer-start-button {
    @include box-shadow(0px, 0px, #222);
    @include transition(1s);
  }

  .timer-reset-button {
    @include box-shadow(0px, 0px, #222);
    @include transition(1s);
  }

  .timer-minus-bumper {
    font-size: 0.7rem;
    @include box-shadow(0px, 0px, #222);
    @include transition(1s);
    -webkit-border-radius: 5px 100px 5px 100px;
    -moz-border-radius: 5px 100px 5px 100px;
    border-radius: 5px 100px 5px 100px;
  }

  .timer-plus-bumper {
    font-size: 0.7rem;
    @include box-shadow(0px, 0px, #222);
    @include transition(1s);
    -webkit-border-radius: 100px 0px 100px 5px;
    -moz-border-radius: 100px 0px 100px 5px;
    border-radius: 100px 0px 100px 5px;
  }
}

.timer-container.timeron {
  background-color: $primary;
  @include box-shadow(0px, 55px, #111);
  
  .timer-countdown {
    color: #fff;
    font-size: 4rem;
  }

  .timer-reset-button {
    @include box-shadow(0px, 20px, #333);
  }

  .timer-start-button {
    @include box-shadow(0px, 20px, #444);
  }

  .timer-end-break {
    @include box-shadow(0px, 20px, #333);
  }

  .timer-minus-bumper {
    @include box-shadow(0px, 30px, #222);
    background-color: #fff;
    color: $primary;
  }

  .timer-plus-bumper {
    @include box-shadow(0px, 15px, #222);
    background-color: #fff;
    color: $primary;
  }
}

.timer-container.timeron.onbreak {
  background-color: $break;
  @include box-shadow(0px, 55px, darken($break, 30%));
}

.timer-button-container {
  width: auto;

  button {
    margin: 1rem;
  }
  
  .timer-start-button.onbreak {
    border: 1px solid darken($break, 10%);
    background-color: $break;
    color: #FFF;
  }
}
