<div class="timer-container" [class.timeron]="timerOn" [class.onbreak]="onBreak">
  <p class="timer-countdown">{{currentTimerValue | timer}}</p>
  <div class="timer-button-container">
    <button type="button" class="timer-minus-bumper" [class.onbreak]="onBreak" aria-label="minus time" mat-raised-button color="primary" *ngIf="useTimerBumpers && !onBreak" (click)="bumpTimerBack()">
      - {{bumperLengthInMinutes}}
    </button>
    <button type="button" class="timer-start-button" [class.onbreak]="onBreak" aria-label="start timer" mat-raised-button color="primary" *ngIf="!timerOn" (click)="onStartTime()">
      Start
    </button>
    <button type="button" class="timer-reset-button" aria-label="reset timer" mat-raised-button color="secondary" *ngIf="timerOn" (click)="onResetTimer()">
      Reset
    </button>
    <button type="button" class="timer-plus-bumper" [class.onbreak]="onBreak" aria-label="plus time" mat-raised-button color="primary" *ngIf="useTimerBumpers && !onBreak" (click)="bumpTimerForward()">
      + {{bumperLengthInMinutes}}
    </button>
    <button type="button" class="timer-end-break" aria-label="end break timer" mat-raised-button color="secondary" *ngIf="(timerOn && onBreak) || onBreak" (click)="onEndBreak()">
      End Break
    </button>
  </div>
</div>
